.table {
	text-align: center;
	font-weight: bold;
}

.table thead th {
	border: none;
}

.table td{
	border-top: 1px solid #dee2e6;
}

.table td.icon {
	border: none;
}

.table__row {
	transition: transform .3s;
}

.table__row:hover {
	transform: translateX(-25px);
}

.table__row:hover td.icon {
	visibility: visible;
}

.table-hover td.icon {
	visibility: hidden;
}

.table td, .table th{
	vertical-align: middle;
}

.table__month {
	font-weight: bold;
	color: grey;
}

.show-more {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	background-color: #dee2e6;
}

#account:hover {
	transform: rotate(180deg);
}

#account {
	transition: all .25s ease-in-out;
}