body {
	background-color: #f8f9fa;
	font-family: 'Roboto', sans-serif;
}


h6 {
	font-weight: 500;
	font-size: 1rem;
}

.jumbotron {
	background-color: #191b29;
	height: 50%;
	color: white;
}

#accounts-section {
	padding: 10px;
}

#account_list {
	background-color: white;
	color: black;
	list-style: none;
}

#account_list a {
	color: black;
	text-decoration: none;
}

#account_list a:visited {
	color: #191b29;
}

#table_section {
	color: black;
	background-color: white;
}

.table {
	text-align: center;
	font-weight: bold;
}

.table thead th {
	border: none;
}

.table td{
	border-top: 1px solid #dee2e6;
}

.table td.icon {
	border: none;
}

.table__row {
	transition: transform .3s;
}

.table__row:hover {
	transform: translateX(-25px);
}

.table__row:hover td.icon {
	visibility: visible;
}

.table-hover td.icon {
	visibility: hidden;
}

.table td, .table th{
	vertical-align: middle;
}

.table__month {
	font-weight: bold;
}

.show-more {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	background-color: #dee2e6;
}

#account:hover {
	/*transform: rotate(180deg);*/
}

#account {
	transition: all .25s ease-in-out;
}

.main-dashboard {
	background-color: #333757;
}

#total_accounts {
	background-color: #1d64a3;
}

#monthly_budget {
	background-color: #1da341;
}

#total_debt {
	background-color: #a833b0;
}
