<div id="announcement" class="card mx-auto" style="width: 38rem;">
  <div class="card-body">
    <h5 class="card-title">New Product Features/Enhancements</h5>
    <h6 class="card-subtitle mb-2 text-muted">January 2020</h6><br>
    <h6 class="card-subtitle mb-2 text-muted">Features:</h6>
    <p class="card-text">
    	<ul>
    		<li><h6>Apply Minimum Payment</h6>
    			Allow paying the minimum payment each month for an account. 
    			This reallocates the monthly budget to the remainnig accounts 
    			while keeping the minimum payment applied to the desired account.
    		</li> <br>
    		<li><h6>Suggested Minimum Payment</h6>
    			A minimum payment is required, but a suggested payment amount is provided 
    			calculated using the APR spread over 12 monthly payments.<br>
    			ex .0145 / 12 x principal
    		</li>
    	</ul>
    </p>

    <h6 class="card-subtitle mb-2 text-muted">Enhancements:</h6>
		<p class="card-text">
			<ul>
    		<li><h6>Database Performance</h6>
    			Sped up database transactions for faster performance when creating/updating account information.
    		</li>
    	</ul>
		</p>

    <button id="close" class="btn btn-primary btn-sm btn-block">Close</button>
  </div>
</div>
