<form method="POST" action="/session">
	<p>
		<% if current_user %>
			<%= current_user.first_name + " " + current_user.last_name %></p>
		<% end %>
	<div class="form-group">
		<input type="submit" class="btn btn-primary" value="Update">
	</div>
</form>
