<!-- <div id="freedom-overlay"> -->
	<div class="row full">
	  <div class="col">
	    <!-- <img src="./img/freedom.jpg" class="img-fluid" alt="Responsive image"> -->
	    <div class="row full">
	      <div class="col-8 login-background">
	      	<div class="p-5">
	          <h2>Debt Calculator</h2>
						<div>
							<p class="text-dark">I created this app to help my wife and I wrangle our debt.</p>

							<p>The idea is to have all of your debt in one location along with your
							monthly budget allocated to paying down that debt you will have less
							fear when it comes to tackling debt.</p>

							<p>Previously, we were using an excel spread sheet which worked but it 
							wasn't keeping us accountable. We were unsure if our formulas were
							correct. And its easy to get overwhelmed by the columns and rows of
							percevied failure in number format.</p>

							How it works:
							<div class="list-group">
							  <a class="list-group-item list-group-item-action active">
									Track your accounts.
							  </a>
							  <a class="list-group-item list-group-item-action">Calculate Pay down schedule</a>
							  <a class="list-group-item list-group-item-action">Get smart with your debt</a>
							</div>
						</div>
					</div>
	      </div>
	      <div class="col-4">
	      	<div class="p-5">
	          <h4>Login</h4>
						
						<form method="POST" action="/session">
							<div class="form-group">
								<label for="userName">User Name</label><br>
								<input type="text" class="form-control" name="user_name"><br>

								<label for="userPassword">Password</label><br>
								<input type="password" class="form-control" name="password"><br>
							</div>

							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Login">
							</div>
						</form>

						<a href="/create_account">Create an Account</a>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
<!-- </div> -->