
	<form method="POST" action="/info">
		<div class="form-group">
			<label for="accountName">First Name:</label><br>
			<input type="text" class="form-control" name="account_name"><br>

			<label for="accountName">Last Name:</label><br>
			<input type="text" class="form-control" name="account_name"><br>

			<label for="accountBalance">Desired Monthly Payment:</label><br>
			<input type="text" class="form-control" name="balance"><br>
		</div>

		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Add">
		</div>
	</form>
