<div class="modal fade" id="newAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<form method="POST" action="/accounts">
	      <div class="modal-body">
					<div class="container center">
							<div class="form-group">
								<label for="accountName" class="col-form-label">Name:</label><br>
								<input type="text" class="form-control" placeholder="ex. Chase" name="account[account_name]"><br>

								<label for="accountPrincipal" class="col-form-label">Principal:</label><br>
								<input type="text" class="form-control" placeholder="Current Balance ex. 5000" name="account[principal]"><br>

								<label for="accountMinPayment" class="col-form-label">Minimum Monthly Payment:</label><br>
								<input type="text" class="form-control" placeholder="Minimum Payment ex. 65" name="account[min_payment]"><br>

								<label for="accountAPR" class="col-form-label">APR:</label><br>
								<input type="text" class="form-control" placeholder="% ex. 14" name="account[apr]"><br>

								<label for="accountDueDate" class="col-form-label">Due Date:</label><br>
								<input type="text" class="form-control" placeholder="what date is the payment due ex. 1" name="account[due_date]"><br>
							</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary" value="Add">Add Account</button>
	      </div>
			</form>
    </div>
  </div>
</div>
